<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/accessible-communities.png` }}" width = "180 cm">
        <h2 class="h2">Accessible Communities<small class="d-none">🛡️</small></h2>
        <p>Join communities made for certain areas of math and levels of expertise to work with the math you’re familiar with.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/private-groups.png` }}" width = "180 cm">
        <h2 class="h2">Private Groups<small class="d-none">🚀</small></h2>
        <p>Conduct research with colleagues, collaborate on homework assignments with classmates, connect math club members together and more in private groups.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/virtual-whiteboard.png` }}" width = "180 cm">
        <h2 class="h2">Virtual Whiteboard<small class="d-none">📈</small></h2>
        <p>Work with peers on a virtual whiteboard to make use of both the efficiency of in-person collaboration and the convenience of an online environment.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Threads<small class="d-none">🦉</small></h2>
        <p>Engage with the community by asking and answering questions as well as contributing to open-ended discussions.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Attachments<small class="d-none">✨</small></h2>
        <p>Attach posts with math articles, videos and resources you find interesting to share them with the community.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Convenient Formatting<small class="d-none">🧰</small></h2>
        <p>Sharing graphs and writing in LaTeX makes it easy to illustrate and express mathematical ideas.</p>
    </div>
</div>
